body {
	font-family: Roboto, sans-serif;
    font-size: 14px;
}

.brand-text {
	font-weight: bold;
	margin-left: 5px;
}

.main {
	min-width: 400px;
}

#cookie-count {
	margin-left: 10px;
}

#control-panel, #notification-bar {
	margin-left: 5px;
}

#cookie-edit-panel {
	margin-bottom: 15px;
}

.cookie-delete {
	position: relative;
    top: -5px;
}

#cookie-table input {
    background: transparent;
	border: none;
}

.cookie-key, .cookie-val {
    background: transparent;
	border: none;
	overflow: hidden;
	outline: none;
}

.edit-now {
	background: #FFFFAD!important;
}

.search-cookie {
	display: none;
	margin-top: -10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 180px;
}

.no-cookies {
	display: none;
}

/* override */
.navbar-toggle {
	padding: 6px 6px;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: block;
	}
}

caption {
	padding-top: 0;
}

textarea
{
	resize: none;
}

.table-hover>tbody>tr:hover {
    background-color: #E6E6E6;
}

::-webkit-scrollbar {
    width: 4px;
	height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}